# Link to data
PS_LINK=http://website.to/data
# Server port
PS_PORT=3000
# Server IP, leave blank if localhost
PS_IP=
# Allowed domains, leave empty if want to allow all
PS_DOMAINS=
# If true scrape from page with equal sign
PS_WITH_EQ=true
# CSV and TXT file update interval in miliseconds

PS_UPDATE_INTERVAL=500
# If true server will create CSV file and write to it

PS_WRITE_TO_CSV=true
# CSV file directory and name
PS_CSV_PATH=path/to/file.csv
# If true server will create TXT file and write to it (for Textus Live)

PS_WRITE_TO_TXT=true
# TXT file directory and name
PS_TXT_PATH=path/to/file.txt